/*Base Element Styling*/
body {
  background: black;
}

/*Top menu*/
.top-menu-nav {
  color: white;
  margin-left: -8px;
  margin-right: -8px;
}
.top-menu-ul {
  list-style: none;
  margin-top: -8px;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
.top-menu-li {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}
.top-menu-a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 1vw;
  padding-right: 2vw;
  padding-top: .5vw;
  padding-bottom: .75vw;
  text-decoration: none;
}
.top-menu-a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

/*fade-in addition: creates a brief fade-in effect*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in-vid {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

/*message CSS*/
@-webkit-keyframes blurFadeInOut {
	0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -webkit-transform: scale(1.3);}
  20%,75% { opacity: 1; text-shadow: 0px 0px 1px #fff; -webkit-transform: scale(1);}
  100% { opacity: 0; text-shadow: 0px 0px 50px #fff; -webkit-transform: scale(0);}
}
@-moz-keyframes blurFadeInOut {
	0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -moz-transform: scale(1.3);}
	20%,75% { opacity: 1; text-shadow: 0px 0px 1px #fff; -moz-transform: scale(1);}
	100% { opacity: 0; text-shadow: 0px 0px 50px #fff; -moz-transform: scale(0);}
}
@keyframes blurFadeInOut {
	0% { opacity: 0; text-shadow: 0px 0px 40px #fff; transform: scale(1.3);}
	20%,75% { opacity: 1; text-shadow: 0px 0px 1px #fff; transform: scale(1);}
	100% { opacity: 0; text-shadow: 0px 0px 50px #fff; transform: scale(0);}
}
@-webkit-keyframes blurFadeIn {
	0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -webkit-transform: scale(1.3);}
  50% { opacity: 0.5; text-shadow: 0px 0px 10px #fff; -webkit-transform: scale(1.1);}
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; -webkit-transform: scale(1);}
}
@-moz-keyframes blurFadeIn {
	0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -moz-transform: scale(1.3);}
	100% { opacity: 1; text-shadow: 0px 0px 1px #fff; -moz-transform: scale(1);}
}
@keyframes blurFadeIn {
	0% { opacity: 0; text-shadow: 0px 0px 40px #fff; transform: scale(1.3);}
	50% { opacity: 0.5; text-shadow: 0px 0px 10px #fff; transform: scale(1.1);}
	100% { opacity: 1; text-shadow: 0px 0px 1px #fff; transform: scale(1);}
}

.message {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 7vw;
}

.message h2 {
  position: absolute;
  color: transparent;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}

.message h2.frame-1 {
  -webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
.message h2.frame-2 {
  -webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
.message h2.frame-3 {
  -webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}
.message h2.frame-4 {
  -webkit-animation: blurFadeIn 3s ease-in 16s backwards;
	-moz-animation: blurFadeIn 1s ease-in 16s backwards;
	-ms-animation: blurFadeIn 3s ease-in 16s backwards;
	animation: blurFadeIn 3s ease-in 16s backwards;
	color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
